.container{
    display: flex;
    justify-content: space-evenly;
    background-color: whitesmoke;
    height: 400px;
    width: 1000px;
    padding-top: 50px;
    color: white;
    text-align: center;
}
.card_black{
    height: 300px;
    width: 200px;
    background-color: black;
    float: left;
    
}
.card_grey{
    height: 300px;
    width: 200px;
    background-color:grey;
    float: left;
}   

.card_blue{
    height: 300px;
    width: 200px;
    background-color:blue;
    float: left;
}
